<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259930456506-av1io3c71ajdq8gheh6hbfc6l4uj8vof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259930456506-av1io3c71ajdq8gheh6hbfc6l4uj8vof</string>
	<key>API_KEY</key>
	<string>AIzaSyCVeQ9kJs2azx0TZ9ocVXjpTkOvAr0DTlY</string>
	<key>GCM_SENDER_ID</key>
	<string>259930456506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.strangeSounds</string>
	<key>PROJECT_ID</key>
	<string>strange-sound</string>
	<key>STORAGE_BUCKET</key>
	<string>strange-sound.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259930456506:ios:522d6235e5b98cc24bdd83</string>
</dict>
</plist>